@tailwind base;
@tailwind components;
@tailwind utilities;

section h1 {
  @apply text-5xl font-bold mb-10;
}

section h2 {
  @apply text-4xl font-bold mt-10 mb-2;
}

section h3 {
  @apply text-3xl;
}

section h4 {
  @apply text-2xl ;
}

section h5 {
  @apply text-xl ;
}

section h6 {
  @apply text-xl ;
}

section ol {
  @apply mx-12 list-decimal box-border;
}

/* Table of contents */
.ox-hugo-toc {
  @apply border-gray-800 dark:border-gray-300 border rounded-lg mb-4 p-4;
}

.ox-hugo-toc .heading {
  @apply text-2xl text-center font-bold;
}

.ox-hugo-toc ol, .ox-hugo-toc ul {
  @apply ml-2 relative list-none list-inside;
}

.ox-hugo-toc ol, .ox-hugo-toc ul {
    counter-reset: item;
}

.ox-hugo-toc ol > li, .ox-hugo-toc ul > li {
    counter-increment: item;
}

.ox-hugo-toc ol > li:before, .ox-hugo-toc ul > li:before {
    content: counters(item, ".") ". ";
    margin-left: 0px;
}

.ox-hugo-toc ol ol > li, .ox-hugo-toc ul ul > li {
    display: block;
}

.ox-hugo-toc ol ol > li:before, .ox-hugo-toc ul ul > li:before {
    content: counters(item, ".") ". ";
    margin-left: 0px;
}

article a, footer a {
  @apply text-amber-500 underline;
}

article code {
  @apply italic text-orange-600;
}

article p > code::before, article p > code::after {
  content: "`";
}

article p {
  @apply my-1.5;
}

article .highlight {
  @apply my-2 max-w-5xl overflow-scroll p-2;
  background-color: #272822;
}

article blockquote {
  @apply box-border border border-slate-500 rounded-lg px-4;
}
