<!doctype html>
<html lang="{{ .Site.Params.LanguageCode}}">

<head>
    <meta charset="utf-8">
    {{ hugo.Generator }}

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} - {{ .Site.Title }}{{ end }}">
    <meta name="twitter:description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ .Summary | plainify }}{{ end }}">
    <meta name="twitter:site" content="{{ .Site.BaseURL }}">
    <meta name="twitter:creator" content="{{ .Params.Author }}">
    <meta name="twitter:image" content="{{ .Site.Params.Avatar | absURL }}">
    
    <!-- Open-Graph Data -->
    <meta property="og:locale" content="{{ .Site.Params.LanguageCode }}">
    <meta property="og:type" content="{{ if .IsHome }}website{{ else }}article{{ end }}">
    <meta property="og:title" content="{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} - {{ .Site.Title }}{{ end }}">
    <meta property="og:description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ .Summary | plainify }}{{ end }}">
    <meta property="og:url" content="{{ .Permalink }}">
    <meta property="og:site_name" content="{{ .Site.Title }}">
    <meta property="og:image" content="{{ .Site.Params.Avatar | absURL }}">
    
    <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} - {{ .Site.Title }}{{ end }}</title>

    <meta name="author" content="{{ .Site.Params.Author }}">
    <meta name="description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ .Summary | plainify }}{{ end }}">

    <!-- RSS -->
    {{ with .OutputFormats.Get "RSS" }}
    <link rel="alternate" href="{{ .RelPermalink | absURL }}" type="application/rss+xml" title="{{ $.Site.Title }}">
    {{ end }}

    <!-- Translations -->
    {{ if .IsTranslated }}
    {{ range .Translations }}
    <link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}" title="{{ .Site.Title }}">
    {{ end }}
    {{ end }}

    <!-- Favicon -->
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🔭</text></svg>">

    <!-- Stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro|Arvo:400,700&display=swap" rel="stylesheet" rel="preload" as="style">
    <link rel="stylesheet" href="{{ "css/theme.css" | absURL }}">
    <!-- <link rel="stylesheet" href="{{ "css/chroma.dracula.css" | absURL }}"> -->
</head>
<body class="font-mono subpixel-antialiased bg-zinc-50 text-gray-800 dark:text-gray-300 dark:bg-midnight ">
    
    <div class="max-w-full mx-5 my-10 flex flex-row flex-wrap md:flex-row">
        <section class="w-full flex flex-col justify-center space-x-5 flex-wrap items-stretch md:flex-row mb-8">
            <header class="">
                <!-- All the pages must have a heading block, defaults to a link for the home page and a title. -->
                <div class="mb-6 md:flex md:items-center">
                    {{ block "heading" . }}
                        <div>
                            {{ partial "back-home.html" . }}
                            <h1 class="text-4xl font-bold">{{ .Title }}</h1>
                        </div>
                    {{ end }}
                </div>
    
                <!-- If the blog has translation, they shoul be displayed here. -->
                {{ if .IsTranslated }}
                <nav>
                    {{ range $i, $lang := .Translations }}
                    {{ if $i }}/{{ end }}
                    <a href="{{ .Permalink }}">{{ $lang.Language.LanguageName }}</a>
                    {{ end}}
                </nav>
                {{ end }}
            </header>
    
            <!-- The content block. -->
            {{ block "content" . }}{{ end }}
        </section>
        <footer class="w-full flex justify-center">
            <p class="">
                &copy; {{ now.Format "2006"}}. Proudly made with 💕 with <a href="https://gohugo.io/" target="_blank" rel="noreferrer">Hugo</a>, <a href="https://orgmode.org/" target="_blank" rel="noreferrer">OrgMode</a> and <a href="https://tailwindcss.com/" target="_blank" rel="noreferrer">TailwindCSS</a>.
            </p>
        </footer>
    </div>
</body>
</html>
