{{ define "content" }}
<main>
    <article>
        <header>
            <!-- <h1>{{.Title}}</h1> -->
        </header>
        <!-- "{{.Content}}" pulls from the markdown content of the corresponding _index.md -->
        {{.Content}}
    </article>
    <section class="inline-block mb-8 w-5/6">
        {{ partial "posts.html" . }}
    </section>
{{ end }}
