{{ define "heading" }}
<div>
    {{ partial "back-home.html" . }}
    
    <!-- Title and Publication Date -->
    <h1>{{ .Title }}</h1>
    <time datetime="{{ .Date.Format "2006-01-02 15:04:05 MST" }}">{{ .Date.Format "02 Jan 2006" }}</time>
    
    <!-- Tags -->
    {{ with .Params.tags }}
    <ol class="mt-4">
        {{ range . }}
        <li class="inline-block mr-3">
            <a class="border-none text-gray-800 text-xs bg-gray-400 hover:bg-gray-600 hover:text-white rounded-sm px-3 py-1" href="{{ "tags" | absURL }}/{{ . | urlize }}">{{ . }}</a>
        </li>
        {{ end }}
    </ol>
    {{ end }}
</div>
{{ end }}

{{ define "content" }}
<article class="mb-12">
    {{ .Content }}

    {{ template "_internal/disqus.html" . }}
</article>
{{ end }}
