<div class="mt-4 divide-y divide-gray-50 dark:divide-zinc-800">
    {{ range .Pages -}}
    <a class="first:pt-0 py-4 flex flex-col justify-evenly"  href="{{ .RelPermalink }}">
        <span class="text-base w-9/12">{{ .Title }}</span>
        <time class="inline text-xs text-gray-400 w-3/12" datetime="{{ .Date.Format "2006-01-02 15:04:05 UTC" }}">{{ .Date.Format "January 02 2006" }}</time>
    </a>
    {{- end }}
</div>
