{{ define "heading" }}
{{ if .Site.Params.Avatar }}
<img class="hidden md:block w-20 rounded-full mr-6" src="{{ .Site.Params.Avatar | absURL }}" alt="{{ .Site.Params.Author }}">
{{ end }}

<div>
    <h1 class="text-4xl font-bold">{{ .Site.Title }}</h1>
    <p>{{ .Site.Params.tagline }}</p>
</div>
{{ end }}

{{ define "content" }}
<section class="">
    {{ range site.RegularPages.GroupByDate "2006" -}}
        <h3 class="text-right border-b border-gray-50 dark:border-zinc-50"> {{ .Key }}</h3>
        {{ partial "posts.html" . }}
    {{ end }}
</section>
{{ end }}
